<html>

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, user-scalable=no" />

		<title>SVL</title>

		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Nunito|Material+Icons|Material+Icons+Outlined" rel="stylesheet">

		<!-- my style sheet -->
		<link rel="stylesheet" type="text/css" href="static/css/reloader/index.css" />

		<!-- Libraries -->
		<script src="static/lib/d3.v5.min.js"></script>
		<script src="static/lib/socket.io.min.js"></script>

	</head>

	<body>	

		<!-- I'm hard-coding the colors in here.  Will need to change them if we change them in the rest of the app. -->
		<div id="reloadWWT" class="buttonDiv" style="top:10vh; background-color:#FFCE34"> WWT </div>
		<div id="reloadMovies2D" class="buttonDiv" style="top:25vh; background-color:#29FF5E"> Movies 2D </div>
		<div id="reloadMovies3D" class="buttonDiv" style="top:40vh; background-color:#F75454"> Movies 3D </div>
		<div id="reloadUniview" class="buttonDiv" style="top:55vh; background-color:#7651FE"> Uniview </div>
		<div id="reloadRover" class="buttonDiv" style="top:70vh; background-color:white"> Rover </div>


		<!-- load all my scripts -->
		<script src="static/js/reloader/reloader.js"></script>

	</body>

</html>
